/* Navigation bar */

.nav {
	background-color: white;
	color: black;
	font-family: 'Montserrat', sans-serif;
	position: fixed;
	z-index: 100;
	width: 1000px;
}

/* .nav {
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  z-index: 100;
  width: 1000px;
  left: 50%; 
  transform: translateX(-50%); /
  display: flex;
  justify-content: center; 
  align-items: center; 
} */

.separator-line {
  border: none;                  /* Removes default border */
  height: 1px;                   /* Sets the thickness of the line */
  background-color: lightgray;   /* Sets the line color to light gray */
  margin: 20px auto;             /* Centers the line and adds vertical spacing */
  width: 80%;                    /* Sets the line width */
}


.navbar_height {
	height: 60px;
}


.nav_ul {
	margin-top: 10px;
	margin-bottom: 10px;
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  vertical-align: center;
}

#body_div {
	margin-top: 60px;
}

.link {
	/* text-decoration: underline; */
}

.link a{
	text-decoration: underline;
}

.content {
	max-width: 1000px;
  margin: auto;
  background-color: white;
}

#degree {
	font-size: 17px;
	font-weight: 500;
}

.nav_li {
    float: left;
    vertical-align: center;
}

.nav_li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 23px !important;
    font-weight: 450 !important; 
}

.nav_li a:hover {]
		text-decoration: underline;
}

p {
	font-family: "Montserrat", sans-serif;
}

a {
	color: black;
}


/* Header Image and Text */

.header {
	color: black;
	padding: 10px;
	margin-left: 25px ;
	font-family: "Montserrat";
	font-weight:600;
}

.news {
	color: black;
	padding: 10px;
	margin-left: 30px ;
	font-family: "Montserrat";
	font-weight:600;
}

.profile_pic_container {
	width: 100%;
	margin-top: 58px;
	display: inline-block;
	font-family: "Montserrat";
}

#profile_pic {
	margin-left:25px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.im_style {
	width:300px;
	margin-left: 35px;
}


.bio {
	display: inline-block;
	vertical-align: middle;
}


.name {
	text-align: left;
	margin: 0px;
	padding: 0px;
}


.sm-text {
	color: black;
	display: block;
	padding: 10px 0px 0px 30px;
	margin: 15px;
	font-size: 17px;
	font-family: "Montserrat";
	font-weight: 500;
	border-radius: 3px;
}

.med-text {
	color: black;
	display: block;
	padding: 10px 0px 0px 30px;
	margin: 15px;
	font-size: 19px;
	font-family: "Montserrat";
	font-weight: 500;
	border-radius: 3px;
}


h1 {
	color: black;
	display: block;
	padding: 10px 10px 10px 30px;
	font-size: 50px;
	font-family: "Montserrat";
	font-weight: 500;
	margin: 15px;
}


.half-sm-text {
	color: black;
	display: inline-block;
	padding: 10px 10px 10px 30px;
	margin: 15px;
	font-size: 17px;
	font-family: "Montserrat";
	font-weight: 500;
	width: fit-content;
}


.custom-list {
	  list-style-type: square;   /* Changes the bullet style */
 	  margin-left: 60px;         /* Adds space from the left */ 
	  padding: 10px;             /* Adds space inside the list */
/* 	  margin: 15px; */
	  font-size: 17px;
	  font-family: "Montserrat";
	  font-weight: 500;
	  border-radius: 3px;    /* Adds a border */
}

.map-wrapper {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  margin-top: 20px;         /* Adds some space at the top */
  z-index: 200;             /* Ensures it's above other elements */
}


div#footer {
	font-size: small;
	font-family: "Montserrat";
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
}

div#footer a {
	color: #80a0b0;
	font-family: "Montserrat";
}

div#footer-text {
	float: left;
	padding-bottom: 8px;
	font-family: "Montserrat";
}


@media (max-width:890px) {

  .nav {
  	width: 100vw;
  }

	.nav_ul {
		padding:0;
	}

	#profile_pic {
		margin-left:0;
		padding-left:0;
	}

	.half-sm-text {
		margin-left: 0;
	}

	.sm-text {
		padding-left:0;
	}

	.header {
		margin-left: 0px ;
	}
}

@media (max-width:400px) {

  .nav {
  	width: 100vw;
  }

	.im_style {
		width:200px;
		margin-left: 35px;
	}

	.nav_li a {
		font-size: 17px;
	}

}
